.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.file-input {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
  background: #222;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #444;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.file-input:hover {
  background: #333;
}

.gcode-section {
  margin-top: 20px;
  width: 100%;
  height: 80vh;
  position: relative;
}
